#NavBar {
  width: 100%;
  height: 10rem;
  background-color: #0147a6ff;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 1.5rem 0;
  position: sticky;
  top: 0;
}
#NavBar div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#NavBar div img {
  width: 17rem;
  display: block;
}
#NavBar ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#NavBar ul li {
  align-self: center;
  padding: 1rem;
}
#NavBar ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
}
#NavBar ul li:hover {
  background-color: #EDC951;
  transform: translate(5%);
  border-radius: 0.5rem;
  transition: 1s;
}
#NavBar ul li:hover a {
  color: #00162dff;
  cursor: pointer;
}
#NavBar span {
  display: none;
}
#NavBar span img {
  width: 3rem;
}

@media (max-width: 380px) {
  #NavBar {
    position: sticky;
    justify-content: space-between;
  }
  #NavBar .showHideMenu {
    left: 0rem;
    transition: 1s;
  }
  #NavBar div {
    width: 50%;
  }
  #NavBar ul {
    width: 100%;
    flex-direction: column;
    left: -80rem;
    top: 13rem;
    position: absolute;
    background-color: #00162dff;
    transition: 1s;
  }
  #NavBar ul li {
    margin: 4rem 0rem 4rem 0rem;
  }
  #NavBar ul li a {
    font-size: 2.5rem;
    color: #ddd9d6ff;
  }
  #NavBar span {
    width: 20%;
    display: flex;
    justify-content: center;
  }
  #NavBar span img {
    align-self: center;
    width: 5rem;
  }
}
#MainSection {
  width: 100%;
  height: auto;
  padding: 9rem 0rem 9rem 0rem;
  background-color: #0147a6ff;
}
#MainSection #mainContainer {
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
}
#MainSection #mainContainer .contentMain {
  width: 90%;
  margin: auto;
}
#MainSection #mainContainer .contentMain p {
  color: #ffffff;
}
#MainSection #mainContainer .contentMain .Name {
  font-size: 6.5rem;
  font-weight: 700;
}
#MainSection #mainContainer .contentMain .Position {
  font-size: 3.5rem;
}
#MainSection #mainContainer .contentMain .Phrase {
  font-size: 2.5rem;
  font-style: italic;
}
#MainSection #mainContainer .contentMain button {
  width: 26%;
  height: 4rem;
  margin-top: 1.5rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #ff96b2ff;
  color: #ffffff;
  cursor: pointer;
}
#MainSection #mainContainer .contentMain img {
  display: block;
  margin: auto;
  width: 45%;
  height: 100%;
}

@media (max-width: 380px) {
  #MainSection {
    width: 100%;
  }
  #MainSection #mainContainer {
    width: 100%;
    flex-direction: column;
  }
  #MainSection #mainContainer .contentMain {
    text-align: center;
    padding: 5rem 0 5rem 0;
  }
  #MainSection #mainContainer .contentMain .Name {
    font-size: 8rem;
    font-weight: 700;
  }
  #MainSection #mainContainer .contentMain .Position {
    font-size: 4.5rem;
  }
  #MainSection #mainContainer .contentMain .Phrase {
    font-size: 3.5rem;
    font-style: italic;
  }
  #MainSection #mainContainer .contentMain button {
    width: 80%;
    height: 8rem;
    font-size: 4rem;
    margin-top: 10rem;
  }
}
#ProjectsSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 15rem 0rem 15rem 0rem;
}
#ProjectsSection p {
  font-weight: 300;
  font-size: 4rem;
  padding: 0rem 10rem 0rem 10rem;
  margin-bottom: 3rem;
}
#ProjectsSection .gridProjects {
  margin: auto;
  width: 87%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}
#ProjectsSection .gridProjects .itemGrid img {
  box-shadow: 0px 0px 50px -7px rgba(112, 112, 112, 0.79);
  width: 100%;
  border-radius: 1rem;
}
#ProjectsSection .gridProjects .itemGrid:hover {
  transform: scale(1.1);
  transition: 2s;
}

@media (max-width: 380px) {
  #ProjectsSection p {
    font-size: 8rem;
    text-align: center;
  }
  #ProjectsSection .gridProjects {
    width: 85%;
    grid-template-columns: 1fr;
  }
  #ProjectsSection .gridProjects .itemGrid img {
    width: 100%;
    border-radius: 2rem;
  }
}
#AboutMe {
  width: 100%;
  height: auto;
  margin: 15rem 0rem 15rem 0rem;
}
#AboutMe .cardContent {
  width: 80%;
  height: 43rem;
  margin: auto;
  border-radius: 1rem;
  display: flex;
  background-color: #00162dff;
  box-shadow: 0px 0px 50px -7px rgba(112, 112, 112, 0.79);
}
#AboutMe .cardContent .leftContent {
  width: 30%;
  height: 100%;
  border-radius: 1rem 0rem 0rem 1rem;
  border-right: 10px solid #ff96b2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#AboutMe .cardContent .leftContent .imgProfile {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
#AboutMe .cardContent .leftContent .imgProfile img {
  width: 100%;
}
#AboutMe .cardContent .leftContent p {
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
#AboutMe .cardContent .leftContent .pBold {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Itim", cursive;
}
#AboutMe .cardContent .rightContent {
  width: 70%;
  height: 100%;
  border-radius: 0rem 1rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#AboutMe .cardContent .rightContent p {
  width: 70%;
  text-align: center;
  font-size: 1.7rem;
  color: #ffffff;
  font-style: italic;
  margin-top: 3rem;
}
#AboutMe .cardContent .rightContent .pBold {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Itim", cursive;
}
#AboutMe .cardContent .rightContent div {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
#AboutMe .cardContent .rightContent div img {
  width: 3.6rem;
}

@media (max-width: 380px) {
  #AboutMe .cardContent {
    height: auto;
    border-radius: 2rem;
    flex-direction: column;
  }
  #AboutMe .cardContent .leftContent {
    width: 100%;
    border-bottom: 5px solid #ff96b2ff;
    border-right: none;
    padding: 5rem 0rem 5rem 0rem;
  }
  #AboutMe .cardContent .leftContent .imgProfile {
    width: 20rem;
    height: 20rem;
  }
  #AboutMe .cardContent .leftContent p {
    font-size: 3rem;
  }
  #AboutMe .cardContent .leftContent .pBold {
    font-size: 6rem;
  }
  #AboutMe .cardContent .rightContent {
    width: 100%;
  }
  #AboutMe .cardContent .rightContent p {
    width: 70%;
    font-size: 2.5rem;
  }
  #AboutMe .cardContent .rightContent .pBold {
    font-size: 6rem;
  }
  #AboutMe .cardContent .rightContent div {
    align-items: center;
  }
  #AboutMe .cardContent .rightContent div img {
    margin: 2rem 0rem 3rem 0rem;
    width: 5rem;
  }
}
#Schooling {
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}
#Schooling .schoolingContainer {
  width: 80%;
  height: 55rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#Schooling .schoolingContainer .schoolingCard {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #00162dff;
  box-shadow: 0px 0px 50px -7px rgba(112, 112, 112, 0.79);
  color: #ffffff;
}
#Schooling .schoolingContainer .schoolingCard .schoolingText {
  width: 70%;
  padding: 2rem 0rem 2rem 0rem;
}
#Schooling .schoolingContainer .schoolingCard .schoolingText .schoolName {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  width: 60%;
  border-bottom: 1px solid #ff96b2ff;
}
#Schooling .schoolingContainer .schoolingCard .schoolingText .degreeName {
  font-size: 1.6rem;
  font-weight: 500;
}
#Schooling .schoolingContainer .schoolingCard .schoolingText li {
  font-size: 1.4rem;
  font-weight: 200;
  list-style: none;
}
#Schooling .schoolingContainer .schoolingCard .schoolingImage {
  width: 20%;
  display: flex;
}
#Schooling .schoolingContainer .schoolingCard .schoolingImage img {
  margin: auto;
  width: 50%;
}

@media (max-width: 380px) {
  #Schooling .schoolingContainer {
    height: auto;
  }
  #Schooling .schoolingContainer .schoolingCard {
    border-radius: 2rem;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding: 5rem 0rem 5rem 0rem;
    margin: 5rem 0rem 5rem 0rem;
  }
  #Schooling .schoolingContainer .schoolingCard .schoolingText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
  }
  #Schooling .schoolingContainer .schoolingCard .schoolingText .schoolName {
    font-size: 4rem;
    width: 90%;
    text-align: center;
  }
  #Schooling .schoolingContainer .schoolingCard .schoolingText .degreeName {
    width: 90%;
    font-size: 3rem;
    text-align: center;
  }
  #Schooling .schoolingContainer .schoolingCard .schoolingText li {
    width: 90%;
    font-size: 2.5rem;
    list-style: none;
    text-align: center;
  }
  #Schooling .schoolingContainer .schoolingCard .schoolingImage {
    width: 100%;
    display: flex;
  }
  #Schooling .schoolingContainer .schoolingCard .schoolingImage img {
    margin: auto;
    width: 50%;
  }
}
#ContactMe {
  width: 100%;
  height: auto;
}
#ContactMe .contactForm {
  width: 60%;
  height: 45rem;
  display: flex;
  margin: 10rem auto 10rem auto;
}
#ContactMe .contactForm .image {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0147a6ff;
  border-radius: 1rem 0rem 0rem 1rem;
  box-shadow: 0px 0px 50px -7px rgba(112, 112, 112, 0.79);
}
#ContactMe .contactForm .image p {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
}
#ContactMe .contactForm .image img {
  width: 20%;
}
#ContactMe .contactForm .inputs {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem 2rem 0rem;
  background-color: #00162dff;
  border-radius: 0rem 1rem 1rem 0rem;
}
#ContactMe .contactForm .inputs img {
  width: 12%;
  display: block;
  margin: auto;
}
#ContactMe .contactForm .inputs .inputContainer {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0.5rem;
  border-radius: 0.6rem;
  background-color: #ffffff;
}
#ContactMe .contactForm .inputs .inputContainer img {
  width: 7%;
  margin: 0.5rem;
}
#ContactMe .contactForm .inputs .inputContainer input {
  width: 90%;
  padding-left: 1rem;
  border: none;
}
#ContactMe .contactForm .inputs .inputContainer textarea {
  width: 100%;
  border: none;
  padding: 1rem 0rem 0rem 1rem;
}
#ContactMe .contactForm .inputs .btnSend {
  width: 80%;
  margin: auto;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  background-color: #ff96b2ff;
}
#ContactMe .contactForm .inputs .btnSend:hover {
  background-color: #EDC951;
  color: #00162dff;
  transform: scale(1.01);
  transition: 0.5s;
  cursor: pointer;
}

@media (max-width: 380px) {
  #ContactMe .contactForm {
    width: 80%;
    height: 120rem;
    display: flex;
    flex-direction: column;
  }
  #ContactMe .contactForm .image {
    width: 100%;
    height: 20%;
    border-radius: 2rem 2rem 0rem 0rem;
  }
  #ContactMe .contactForm .image p {
    font-size: 2.5rem;
  }
  #ContactMe .contactForm .inputs {
    width: 100%;
    height: 80%;
    border-radius: 0rem 0rem 2rem 2rem;
  }
  #ContactMe .contactForm .inputs .btnSend {
    height: 5%;
    border-radius: 1rem;
    font-size: 2.5rem;
  }
}
@keyframes moving {
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  70% {
    transform: rotate(6deg);
  }
  85% {
    transform: rotate(-3deg);
  }
}
.waveFooter img {
  transform: rotate(180deg);
  display: block;
  margin-top: 30rem;
}

#footer {
  width: 100%;
  height: 20rem;
  padding-top: 3rem;
  background-color: #0147a6ff;
}
#footer .location {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
#footer .location .socialNetworks {
  padding-top: 3%;
  width: 15%;
}
#footer .location .socialNetworks p {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}
#footer .location .socialNetworks div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
#footer .location .socialNetworks div img {
  width: 15%;
  animation-name: moving;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
#footer .location .items {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
#footer .location .items .contactItem {
  padding-top: 4.5%;
  width: 20%;
}
#footer .location .items .contactItem img {
  width: 3rem;
  display: block;
  margin: auto;
}
#footer .location .items .contactItem p {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
}
#footer .location .line {
  width: 2px;
  height: 80%;
  background-color: #EDC951;
}

@media (max-width: 380px) {
  .waveFooter {
    display: none;
  }

  #footer {
    height: auto;
  }
  #footer .location {
    flex-direction: column;
  }
  #footer .location .socialNetworks {
    width: 100%;
    margin-top: 10%;
  }
  #footer .location .socialNetworks p {
    font-size: 3.5rem;
  }
  #footer .location .socialNetworks div {
    flex-direction: column;
    align-items: center;
  }
  #footer .location .socialNetworks div img {
    width: 10%;
    margin: 5rem 0rem 5rem 0rem;
  }
  #footer .location .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #footer .location .items .contactItem {
    margin: 5% 0% 8% 0%;
    width: 100%;
  }
  #footer .location .items .contactItem img {
    width: 8rem;
  }
  #footer .location .items .contactItem p {
    font-size: 2.5rem;
  }
  #footer .location .items::before {
    content: "";
    width: 70%;
    height: 2px;
    background-color: #EDC951;
  }
}
.btnGoTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  margin-left: 95%;
  margin-top: 35%;
  display: none;
  border: none;
  box-shadow: 0px 0px 50px -8px rgba(112, 112, 112, 0.79);
  background-color: #ff96b2ff;
  cursor: pointer;
}
.btnGoTop img {
  width: 35%;
  display: block;
  margin: auto;
}

@media (max-width: 380px) {
  .btnGoTop {
    margin-left: 100%;
  }
}
@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
#loadContainer {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #00162dff;
  display: flex;
  justify-content: center;
}
#loadContainer .loadAnimationdiv {
  width: 30%;
  height: 4%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#loadContainer .loadAnimationdiv .fillConatiner {
  width: 100%;
  height: 30%;
  border-radius: 1rem;
  background-color: #EDC951;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
#loadContainer .loadAnimationdiv p {
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

.hideLoadScreen {
  transform: translateY(-100%);
  display: none;
  transition: all 1s;
}

#Skills {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10rem;
}
#Skills .leftSkills {
  width: 70%;
  height: auto;
  padding: 5rem;
}
#Skills .leftSkills .skillTitle {
  font-size: 2.5rem;
}
#Skills .leftSkills .skillContainer {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}
#Skills .leftSkills .skillContainer .skillName {
  width: 15%;
  font-size: 1.5rem;
  font-weight: 300;
}
#Skills .leftSkills .skillContainer .html {
  width: 80%;
  height: 20px;
  border-radius: 0.5rem;
  background-color: #E54C21;
}
#Skills .leftSkills .skillContainer .css {
  width: 75%;
  height: 20px;
  border-radius: 0.5rem;
  background-color: #1572b6;
}
#Skills .leftSkills .skillContainer .js {
  width: 65%;
  height: 20px;
  border-radius: 0.5rem;
  background-color: #F0DA50;
}
#Skills .leftSkills .skillContainer .Rnative {
  width: 65%;
  height: 20px;
  border-radius: 0.5rem;
  background-color: #4FA5BE;
}
#Skills .leftSkills .skillContainer .RDesign {
  width: 80%;
  height: 20px;
  border-radius: 0.5rem;
  background-color: #42CA96;
}
#Skills .leftSkills .skillContainer .git {
  width: 65%;
  height: 20px;
  border-radius: 0.5rem;
  background-color: #f05133;
}

.CV {
  width: 100%;
  height: auto;
  margin-top: 4rem;
}
.CV button {
  width: 15%;
  height: 6rem;
  display: block;
  margin: auto;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #00162dff;
  color: #ffffff;
  border-radius: 1rem;
}
.CV button:hover {
  cursor: pointer;
}

@media (max-width: 380px) {
  #Skills {
    margin-bottom: 5rem;
  }
  #Skills .leftSkills {
    width: 100%;
    height: auto;
    padding: 5rem;
  }
  #Skills .leftSkills .skillTitle {
    font-size: 5rem;
  }
  #Skills .leftSkills .skillContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  #Skills .leftSkills .skillContainer .skillName {
    width: 100%;
    font-size: 3rem;
    font-weight: 300;
  }
  #Skills .leftSkills .skillContainer .html {
    width: 80%;
    height: 20px;
    border-radius: 0.5rem;
    background-color: #E54C21;
  }
  #Skills .leftSkills .skillContainer .css {
    width: 75%;
    height: 20px;
    border-radius: 0.5rem;
    background-color: #1572b6;
  }
  #Skills .leftSkills .skillContainer .js {
    width: 65%;
    height: 20px;
    border-radius: 0.5rem;
    background-color: #F0DA50;
  }
  #Skills .leftSkills .skillContainer .Rnative {
    width: 65%;
    height: 20px;
    border-radius: 0.5rem;
    background-color: #4FA5BE;
  }
  #Skills .leftSkills .skillContainer .RDesign {
    width: 80%;
    height: 20px;
    border-radius: 0.5rem;
    background-color: #42CA96;
  }
  #Skills .leftSkills .skillContainer .git {
    width: 65%;
    height: 20px;
    border-radius: 0.5rem;
    background-color: #f05133;
  }

  .CV {
    width: 100%;
    height: auto;
    margin-top: 7rem;
  }
  .CV button {
    width: 100%;
    height: 10rem;
    font-size: 3rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

@media (max-width: 380px) {
  html {
    font-size: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
