
@keyframes moving{
    30% {transform: rotate(10deg);}
    50% {transform: rotate(-8deg);}
    70% {transform: rotate(6deg);}
    85% {transform: rotate(-3deg);}
  }


.waveFooter{
    img{
        transform: rotate(180deg);
        display: block;
        margin-top: 30rem;        
    }
}

#footer{
    width: 100%;
    height: 20rem;        
    padding-top: 3rem;
    background-color:$cobaltBlue;    
    .location{
        width: 100%;
        height: 100%;
        display: flex;   
        justify-content: space-evenly;            
        .socialNetworks{
            padding-top: 3%;
            width: 15%;                                                        
            p{
                font-size: 1.5rem;
                color: $white;
                text-align: center;
            }
            div{                
                display: flex;
                justify-content: space-evenly;
                margin-top: 5%;
                img{
                    width: 15%; 
                    animation-name: moving;
                    animation-iteration-count: infinite; 
                    animation-duration: 2s;                                        
                }                
            }
        }

        .items{
            display: flex;
            justify-content: flex-start;            
            width: 80%;                      
            .contactItem{
                padding-top: 4.5%;
                width: 20%;                                                                                      
                img{
                    width: 3rem;   
                    display: block;
                    margin: auto;             
                }            
                p{
                    text-align: center;
                    font-size: 1.5rem;
                    color: $white;                    
                }                   
            }

        }

        .line{
            width: 2px;
            height: 80%;
            background-color: $yellow;
        }
        
    }
}
@media(max-width:380px){    
    .waveFooter{
        display: none;
    }
    #footer{  
        height: auto;  
        .location{             
            flex-direction: column;                        
            .socialNetworks{                                
                width: 100%;  
                margin-top: 10%;                                                                     
                p{                    
                    font-size: 3.5rem;                                                                           
                }
                div{                                                                                                
                    flex-direction: column;
                    align-items: center;                                                       
                    img{
                        width: 10%;
                        margin: 5rem 0rem 5rem 0rem;                                                                        
                    }
                }
            }
    
            .items{
                display: flex;
                flex-direction: column;
                align-items: center;                         
                width: 100%;                                    
                .contactItem{      
                    margin: 5% 0% 8% 0%;                                                      
                    width: 100%;                                                                                      
                    img{
                        width: 8rem;                                                 
                    }            
                    p{                        
                        font-size: 2.5rem;                        
                    }                   
                }
    
            }  
            
            .items::before{
                content: '';
                width: 70%;
                height: 2px;
                background-color: $yellow;
            }            
        }
    }
}
