
@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}


#loadContainer{    
    z-index: 1;    
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: $oxfordBlue;   
    display: flex;
    justify-content: center;    
    .loadAnimationdiv{
        width: 30%;
        height: 4%;
        align-self: center; 
        display: flex;
        flex-direction: column;
        justify-content: center;                       
        .fillConatiner{
            width: 100%;
            height:30%;
            border-radius: 1rem;
            background-color: $yellow;    
            animation-name: loading;  
            animation-duration: 3s;        
            animation-iteration-count: 1;
            animation-timing-function: linear; 
        }                      
        p{                              
            text-align: center;  
            font-size: 2rem; 
            color: $white;                                                                      
        }
    } 
}

.hideLoadScreen{
    transform: translateY(-100%);
    display: none;
    transition: all 1s;
}
