@import 'navbar';
@import 'mainsection';
@import 'projects';
@import 'about';
@import 'schooling';
@import 'contact';
@import 'footer';
@import 'btnGoTop';
@import 'loading';
@import 'skills';


*{
    margin: 0;
    padding: 0;        
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;  
}




@media(max-width:380px){
    html{
        font-size: 5px;    
    }
}
  